<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- le titre -->
        <title>Le Site de N.S.I.</title>
        <!-- le type d'encodage-->
        <meta charset="utf-8">
        <!-- le lien vers le fichier css-->
        <link rel="stylesheet" href="/css/biblio_styles.css">
        <link rel="icon" href="/icon.png" type="image/png" >

        
        <meta name="author" content="Louis Nguyen Minh Tan, Léon Gard, Elisa Le Fay">


    
    
    </head>


<body>
    <header>

        <nav class="menu">
            <ul>
            
                <li id="drop">
                    <div class="dropdown">
                        <button class="boutonmenuprincipal">Navigation</button>
                        <div class="dropdown-child" >
                        <a  class="dropdown-btn btn btn1" href="/index.html">Menu Principal</a>
                        <a class="dropdown-btn btn btn2" href="/pages/dev.html">Developpement</a>
                        <a class="dropdown-btn btn btn3" href="/pages/biblio.html">Bibliothèque</a>
                        <a class="dropdown-btn btn btn4" href=""></a>
                        <a class="dropdown-btn" href=""></a>
                        
                        </div> 
                    </div>
                </li>
                <li class="menu-toggle">Recherche</li>

                
                <li> <a href="/pages/contact.html">Contact</a>  </li>

            </ul>
        </nav>
        <div class="invisible menuu" >


            <form th:object="${searchForm}" th:action="@{/search}"  method="POST">
               Recherche:
                   <input type="text" th:field="*{value}" />
                <br/>
                   <input type="submit" value="Chercher" />
               </form>








            <!--<form th:action="@{/addPerson}"
                 th:object="${personForm}" method="POST">
               First Name:
               <input type="text" th:field="*{firstName}" />
               <br/>
               Last Name:
               <input type="text" th:field="*{lastName}" />
               <br/>
               <input type="submit" value="Create" />
           </form>-->
        </div>


    </header>
    <div class="content">
        <tr th:each ="game : ${selectedGames}">
            <td th:utext="${game.tags}">...</td>
            <td th:utext="${game.description}">...</td>
            <div class="box"> <a th:href="'/game_template?name='+ ${game.name}" class="bouton-fond"> <img th:src="@{${'/img/' + game.name + '.png'}}" th:alt="@{${'/img/' + game.name + '.png'}}"></a>  </div>

        <!--<div class="box"><img src="/img/minecraft.png" alt="PAS D'IMAGE"></div>-->

    </div>
    <script src="/js/toggle_search.js"></script>
    
    





</body>

</html>