<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- le titre -->
        <title>Le Site de N.S.I.</title>
        <!-- le type d'encodage-->
        <meta charset="utf-8">
        <!-- le lien vers le fichier css-->
        <link rel="stylesheet" href="/css/biblio_styles.css">
        <link rel="icon" href="/icon.png" type="image/png" >

        
        <meta name="author" content="Louis Nguyen Minh Tan, Léon Gard, Elisa Le Fay">

    
    
    </head>


<body>
    <header>

        <nav class="menu">
            <ul>
            
                <li id="drop">
                    <div class="dropdown">
                        <button class="boutonmenuprincipal">Navigation</button>
                        <div class="dropdown-child" >
                        <a  class="dropdown-btn btn btn1" href="/index.html">Menu Principal</a>
                        <a class="dropdown-btn btn btn2" href="/pages/histoire.html">Histoire</a>
                        <a class="dropdown-btn btn btn3" href="/pages/dev.html">Developpement</a>
                        <a class="dropdown-btn btn btn4" href=""></a>
                        <a class="dropdown-btn" href=""></a>
                        
                        </div> 
                    </div>
                </li>
                <li class="menu-toggle">Recherche</li>

                
                <li> <a href="/pages/contact.html">Contact</a>  </li>

            </ul>
        </nav>
        <div class="invisible menuu" >


            <form th:object="${searchForm}" th:action="@{/search}"  method="POST">
               Recherche:
                   <input type="text" th:field="*{value}" />
                <br/>
                   <input type="submit" value="Chercher" />
               </form>




        </div>


    </header>

    <audio id="inv" class="audio"
           controls autoplay loop
           src="/music/greenpathost.mp3">
    </audio>

    <button class="playbutton" ><img src="/img/pause.png" id="p"alt="" onclick="changeImg()"></button>
    <button class="reloadbutton"><img src="/img/reload.png" alt=""></button>



    <button class="tags-toggle"  ><img src="/img/togglebutton1.png" id="tt" alt="TOGGLE"></button>


    <form class="tags hidden" th:object="${tagList}"  th:action="@{/upd}" method="POST">
        <h1>tags</h1>
        <!--<label th:each="tag : ${selectableEnumTag}"><input  type="checkbox" th:name="*{EnumTags}" th:value="${tag}"  th:text="${tag}" th:checked="true" ><span></span></label>-->
        <label class="mark" th:each="tag : ${selectableEnumTag}"><input   type="checkbox" th:field="*{EnumTags}" th:value="${tag}"  th:text="${tag}"></input><span class="checkmark"></span></label>

            <!--<<ul>
                <li th:each="tag : ${selectableEnumTag}">
                    <div>
                        <input checked="true" type="checkbox" th:field="*{EnumTags}" th:value="${tag}">
                        <label th:text="${tag}"></label>
                    </div>
                </li>
            </ul>-->
            <!--<label class="mark"><input type="checkbox"></input><span class="checkmark"></span>Action</label>
            <label class="mark"><input type="checkbox">Plateformer2D</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">massively multiplayer</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Party Game</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Action</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Aventure</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Action</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Aventure</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Action</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Aventure</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Action</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Aventure</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Action</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Aventure</input><span class="checkmark"></span></label>
            <label class="mark"><input type="checkbox">Action</input><span class="checkmark"></span></label>-->
        <input type="submit" value="Filtrer" id="validate">
    </form>

    <div class="content">


        <tr th:each ="game : ${selectedGames}">
            <!--<td th:utext="${game.tags}">...</td>
            <td th:utext="${game.description}">...</td>-->
            <div class="box"> <a th:href="'/game_template?id='+ ${game.id}" class="bouton-fond"> <img th:src="@{${'/img/' + game.id + '.png'}}" th:alt="@{${'/img/' + game.id + '.png'}}"></a>  </div>

        <!--<div class="box"><img src="/img/minecraft.png" alt="PAS D'IMAGE"></div>-->

    </div>
    <script src="/js/toggle_search.js"></script>
    <script src="/js/audiobutton.js"></script>
    <script src="/js/toggle_tags.js"></script>








</body>

</html>