<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- le titre -->
        <title>Le Site de N.S.I.</title>
        <!-- le type d'encodage-->
        <meta charset="utf-8">
        <!-- le lien vers le fichier css-->
        <link rel="stylesheet" href="/css/update_styles.css">
        <link rel="icon" href="/img/icon.png" type="image/png" >

        
        <meta name="author" content="Louis Nguyen Minh Tan, Léon Gard, Elisa Le Fay">


    
    
    </head>

<body>
    <header>
        <nav class="menu">
            <ul>
            
                <li id="drop">
                    <div class="dropdown">
                        <button class="boutonmenuprincipal">Navigation</button>
                        <div class="dropdown-child" >
                        <a  class="dropdown-btn btn btn1" href="/index.html">Menu Principal</a>
                        <a class="dropdown-btn btn btn2" href="/pages/histoire.html">Histoire</a>
                        <a class="dropdown-btn btn btn3" href="/pages/biblio.html">Bibliothèque</a>
                        <a class="dropdown-btn btn btn4" href=""></a>
                        <a class="dropdown-btn" href=""></a>
                        
                        </div> 
    
                </li>
                <li>Recherche</li>
                <li> <a href="/pages/contact.html">Contact</a>  </li>
                </div>
    
            </ul>
        </nav>

    </header>

   
</header>

    <div class="content">
        <p th:utext= "${game.id}"></p>

        <form   th:object="${updatedGame}" th:action="@{/update_process}" method="POST" >
            <div>
                <input type="text"  name="id" th:value="${game.id}">
                <input type="text" name="name" th:value="${game.name}">
                <input type="text" name="description" th:value="${game.description}">
                <input type="text" name="note" th:value="${game.note}">
                <input type="text" name="sumVote" th:value="${game.sumVote}">
                <input type="text" name="nbVote" th:value="${game.nbVote}">
                <input type="text" name="videoPath" th:value="${game.videoPath}">
                <input type="text" name="tags" th:value="${game.tags}">
                <input type="text" name="imgPath" th:value="${#strings.substring(game.imgPath,1,#strings.length(game.imgPath)-1)}">
                <input type="text" name="platform" th:value="${#strings.substring(game.platform,1,#strings.length(game.platform)-1)}">
                <input type="text" name="reviewTitle" th:value="${game.reviewTitle}">
                <input type="text" name="reviewContent" th:value="${game.reviewContent}">
                <input type="text" name="reviewConclusion" th:value="${game.reviewConclusion}">
            </div>

            <input type="submit" value="UPDATE"  />
        </form>
    </div>





</body>
</html>